html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
}

.app {
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    padding: 0 5px;
}

.flex-center {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 80%;
    text-align: center;
    padding-top: 10px;
}

.title h1 {
    font-size: 84px;
    margin: 0;
}

.title .subtitle {
    margin-top: 0;
    margin-bottom: 3rem;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #636b6f;
    word-break: break-all;
}

a:visited {
    color: #636b6f;
}

a:hover {
    text-decoration: underline;
}

.m-b-md {
    margin-bottom: 30px;
}

form {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
}

.is-invalid {
    color: #790303;
    font-weight: bold;
}

.alert {
    padding: 5px;
    margin: 5px 0 10px;
    border-radius: 3px;
    font-weight: bold;
    word-break: break-all;
}

.alert a {
    padding: 0 5px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: inherit;
    text-decoration: underline;
}

.alert a:hover {
    text-decoration: none;
}

.alert.alert-danger {
    background-color: #efbcbc;
    color: #790303;
}

.alert.alert-warning {
    background-color: #ffead3;
    color: #975500;
}

.alert.alert-success {
    background-color: #b8e5d2;
    color: #026a36;
}

.result #trace ol {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

#footer {
    font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-items: center;
    display: flex;
    flex: 0 1 auto !important;
    justify-content: center;
    text-align: center;
}

#footer p {
    margin: 0 0 5px;
}

#footer a {
    color: #636b6f;
    font-weight: bold;
}

#footer a:visited {
    color: #636b6f;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }

    .title h1 {
        font-size: revert;
    }

    .title .subtitle {
        font-size: initial;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    form button {
        width: fit-content;
        margin: 3px auto 0;
    }

    #footer {
        font-size: small;
    }
}
